# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "@types/vscode"
      - dependency-name: "@types/node"
        versions:
          - ">=21"
    groups:
      major-minor-dependencies:
        update-types:
          - "major"
          - "minor"
      patch-dependencies:
        update-types:
          - "patch"
