name: CI

on:
  push:
    branches:
      - master
    tags:
      - "v*"
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - uses: actions/setup-node@v5
        with:
          node-version: "18"

      - name: Bootstrap Build Tools
        run: buildtools/bootstrap

      - name: Build Extension
        run: buildtools/build-vsix

      - name: Archive artifacts
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: artifacts/*

      - name: Create draft release
        if: startsWith(github.ref, 'refs/tags/v')
        shell: bash
        run: |
          gh release create "${GITHUB_REF#refs/tags/}" --draft --title "${GITHUB_REF#refs/tags/v}" artifacts/*.vsix
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Publish to VSCode Marketplace
        if: startsWith(github.ref, 'refs/tags/v')
        shell: bash
        run: |
          buildtools/publish-vsix
        env:
          VSCE_PAT: ${{secrets.VSCODE_TOKEN}}

      - name: Publish to OpenVSIX
        if: startsWith(github.ref, 'refs/tags/v')
        shell: bash
        run: |
          buildtools/publish-openvsx
        env:
          OVSX_PAT: ${{secrets.OVSX_TOKEN}}
