name: CI

on:
  push:
    branches:
      - master
    tags:
      - "v*"
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 #v4.2.0
        with:
          run_install: false

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Bootstrap Build Tools
        run: buildtools/bootstrap

      - name: Build Extension
        run: buildtools/build-vsix

      - name: Archive artifacts
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #6.0.0
        with:
          name: Artifacts
          path: artifacts/*

      - name: Create draft release
        if: startsWith(github.ref, 'refs/tags/v')
        shell: bash
        run: |
          gh release create "${GITHUB_REF#refs/tags/}" --draft --title "${GITHUB_REF#refs/tags/v}" artifacts/*.vsix
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Publish to VSCode Marketplace
        if: startsWith(github.ref, 'refs/tags/v')
        shell: bash
        run: |
          buildtools/publish-vsix
        env:
          VSCE_PAT: ${{secrets.VSCODE_TOKEN}}

      - name: Publish to OpenVSIX
        if: startsWith(github.ref, 'refs/tags/v')
        shell: bash
        run: |
          buildtools/publish-openvsx
        env:
          OVSX_PAT: ${{secrets.OVSX_TOKEN}}
